@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

:root {
    /* font-size */
    --fs-xsm: 12px;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-xxl: 21px;
    --fs-2xl: 24px;
    --fs-3xl: 26px;
    --fs-4xl: 40px;
    --fs-5xl: 46px;
    --fs-6xl: 56px;
    --fs-7xl: 84px;

    /* font-weight */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;


    /* font-color */
    --col-black1: #2e476b;
    --col-orange: #f66f4d;
    --col-black2: #2d3134;
    --col-grey: #5b5f62;
    --col-black3: #9498a4;
    --col-black4: #939597;

    /*font-family*/
    --ff-poppins: 'poppins', sans-serif;
    --ff-sen: 'sen', sans-serif;
    --ff-inter: 'inter', sans-serif;
}

/* font-size */
.fs-12 {
    font-size: var(--fs-xsm);
}

.fs-14 {
    font-size: var(--fs-sm);
}

.fs-16 {
    font-size: var(--fs-md);
}

.fs-18 {
    font-size: var(--fs-lg);
}

.fs-20 {
    font-size: var(--fs-xl);
}

.fs-21 {
    font-size: var(--fs-xxl);
}

.fs-24 {
    font-size: var(--fs-2xl);
}

.fs-26 {
    font-size: var(--fs-3xl);
}

.fs-40 {
    font-size: var(--fs-4xl);
}

.fs-46 {
    font-size: var(--fs-5xl);
}

.fs-56 {
    font-size: var(--fs-6xl);
}

.fs-84 {
    font-size: var(--fs-7xl);
}

/* font-weight */
.fw-400 {
    font-weight: var(--fw-400);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}

/* font-color*/
.col-black1 {
    color: var(--col-black1);
}

.col-orange {
    color: var(--col-orange);
}

.col-black2 {
    color: var(--col-black2);
}

.col-grey {
    color: var(--col-grey);
}

.col-black3 {
    color: var(--col-black3);
}

.col-black4 {
    color: var(--col-black4);
}

/* font-family */
.ff-poppins {
    font-family: var(--ff-poppins);
}

.ff-inter {
    font-family: var(--ff-inter);
}

.ff-sen {
    font-family: var(--ff-sen);
}

/* line-height */
.lh-162 {
    line-height: 162.5%;
}

.lh-100 {
    line-height: 100%;
}

.lh-166 {
    line-height: 166%;
}

.lh-117 {
    line-height: 117%;
}

.lh-83 {
    line-height: 83.333%;
}

.lh-94 {
    line-height: 94.444%;
}

.lh-138 {
    line-height: 138%;
}

.lh-155 {
    line-height: 155%;
}

.lh-102 {
    line-height: 102%;
}

.lh-20 {
    line-height: 20px;
}

ul {
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

p {
    margin-bottom: 0 !important;
}

.gap-36 {
    gap: 36px;
}

.nav-btn {
    border-radius: 27px;
    border: 1.4px solid #F66F4D;
    padding: 19px 34px;
    background-color: #FAF8ED;
}

.nav-btn:hover {
    background-color: #F66F4D;
    color: white;
    transition: all 300ms linear;
}

.nav-btn:hover svg path {
    fill: white;
    transition: all 300ms linear;
}

.nav-line::after {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    height: 2px;
    background-color: orange;
    bottom: -3px;
}

.nav-text:hover {
    -webkit-text-stroke: 1px orange;
    transition: 0.3s linear;
    color: orange;
}

.main-para {
    color: var(--col-grey);
    font-family: var(--ff-inter);
    font-style: normal;
    font-weight: var(--fw-400);
    line-height: 28px;
}

.main-heading {
    color: var(--col-black2);
    font-family: var(--ff-inter);
    font-size: var(--fs-6xl);
    font-style: normal;
    font-weight: var(--fw-600);
    line-height: 56px;
}

.nav-line:hover::after {
    width: 100%;
    transition: all 300ms linear;
}

.now-btn {
    border-radius: 46px;
    border: 1px solid #2D3134;
    padding: 12px 16px;
    background-color: #FAF8ED;
}

.now-btn:hover {
    background-color: black;
    color: white;
    transition: all 300ms linear;
}

.white-box {
    border-radius: 38px;
    background: #FDFEFF;
    box-shadow: 0px 28px 56px -6px rgba(246, 111, 77, 0.05);
    padding: 20px;
}

.card1 {
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.70);
    padding: 26px;
}

.card2 {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: #FAF8ED;
    box-shadow: 0px 24px 90px 0px rgba(192, 188, 161, 0.22);
    padding: 12px;
}

.circle2 {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid black;
}

.circle2:hover {
    background: black;
}

.circle2:hover svg path {
    stroke: white;
}


.cursor-pointer {
    cursor: pointer;
}

.mw-577 {
    max-width: 577px;
}

.mw-500 {
    max-width: 500px;
}

.mw-370 {
    max-width: 370px;
}

.radius-16 {
    border-radius: 16px;
}

/* padding */
.pl-6 {
    padding-left: 6px;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pl-26 {
    padding-left: 26px;
}

.pt-35 {
    padding-top: 35px;
}

.pt-24 {
    padding-top: 24px;
}

.mt-35 {
    margin-top: 35px;
}

.ml-16 {
    margin-left: 16px;
}

.ml-72 {
    margin-left: 72px;
}

.card-slider .slick-dots {
    position: absolute;
    bottom: -53px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slider .slick-dots {
    position: absolute;
    bottom: -40px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.card-slider .slick-list {
    overflow: visible;
    padding: 0 20% 0 0;
    position: relative;
}

.card-slider .over-slider {
    z-index: 2;
}

.card-slider .slick-list::after {
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4000px !important;
    height: 100%;
    right: 100%;
    background-color: #FAF8ED;
}

.long-card {
    height: 358px;
    border-radius: 30px;
    background: #FFD482;
    padding: 75px 75px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pl-12 {
    padding-left: 12px;
}

.mw-415 {
    max-width: 415px;
}

.mw-141 {
    max-width: 141px;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.pb-16 {
    padding-bottom: 16px;
}

.py-66 {
    padding-top: 66px;
    padding-bottom: 66px;
}

.border-none {
    border: none;
}

.outline-none {
    outline: none;
}

.mail-form {
    max-width: 450px;
    border-radius: 12px;
    background: #FFF;
}

.fw-700 {
    font-weight: 700;
}

.border-radius {
    border-radius: 12px;
}

.cards {
    border-radius: 14px;
    background: #FFF;
    padding: 30px 30px;
}

body {
    background: #faf8ed !important;
}

.common-btn {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid #3D3D3D;
}

.common-btn:hover {
    background: black;
    color: #FFF !important;
}

.d-grid {
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 20px;
}

.gap-14 {
    gap: 14px;
}

.gap-16 {
    gap: 16px;
}

.mw-467 {
    max-width: 467px;
}

.pb-27 {
    padding-bottom: 27px;
}

.pt-27 {
    padding-top: 27px;
}

.pt-8 {
    padding-top: 8px;
}

.py-75 {
    padding-top: 75px;
    padding-bottom: 75px;
}

.circle {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    border: 2px solid black;
    padding: 10px 10px;
}

.circle:hover {
    border: 2px solid orangered;
}

.circle:hover svg path {
    fill: orangered;
}

ul {
    padding-left: 0;
}

.image-scale:hover {
    transform: scale(1.1);
    transition: all 300ms linear;
}


.pt-84 {
    padding-top: 84px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pt-20 {
    padding-top: 20px;
}

.grid_item1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.grid_item2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.grid_item3 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.grid_item4 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.grid_item5 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.grid_item6 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.bg-img {
    background-image: url(../images/png/group.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media (max-width:575.98px) {
    :root {
        --fs-4xl: 30px;
        --fs-5xl: 36px;
        --fs-6xl: 40px;
        --fs-7xl: 50px;
    }
}

@media (max-width: 767.98px) {
    :root {
        --fs-4xl: 20px;
        --fs-5xl: 26px;
        --fs-6xl: 30px;
        --fs-7xl: 40px !important;
    }

    .text-align-md-center {
        text-align: center;
    }


}

@media (max-width: 991.98px) {
    :root {
        --fs-4xl: 20px;
        --fs-5xl: 26px;
        --fs-6xl: 30px;
        --fs-7xl: 70px;
    }

    .mobile_view {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        min-height: 100vh;
        background-color: #faf8ed;
        transition: 300ms linear;
        flex-direction: column;
        z-index: 1;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .line2,
    .line3,
    .line4 {
        width: 30px;
        min-height: 3px;
        background-color: #C2190E;
        transition: 300ms linear;
    }

    .cross .line2 {
        transform: rotate(50deg) translate(17px, 14px);
    }

    .cross .line3 {
        transform: translateX(-50%);
        opacity: 0;
    }

    .cross .line4 {
        transform: rotate(-50deg) translateY(-50%);
    }

    .text-align-lg-center {
        text-align: center;
    }
}

@media (min-width:768px) {
    .grid_item1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .grid_item2 {
        grid-column: 2/4;
        grid-row: 1/3;
    }

    .grid_item3 {
        grid-column: 4/6;
        grid-row: 1/2;
    }

    .grid_item4 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .grid_item5 {
        grid-column: 4/5;
        grid-row: 2/3;
    }

    .grid_item6 {
        grid-column: 5/6;
        grid-row: 2/3;
    }
}

@media (max-width:900px) {
    .cards {
        margin-bottom: 20px;
    }

}

@media (min-width:992px) {
    .line1 {
        position: relative;
    }

    .line1::after {
        position: absolute;
        content: "";
        background: #EAEAEB;
        width: 1px;
        height: 47px;
        left: 33%;
    }

    :root {
        --fs-6xl: 55px;
    }
}

@media (min-width:1200px) {
    .mw-xl-500 {
        max-width: 500px;
    }

    .mw-xl-577 {
        max-width: 577px;
    }

}